__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
build/
dist/
assets/
outputs/
/datasets/*
!/datasets/.gitkeep
/checkpoints/**
!/checkpoints/**/
!/checkpoints/**/.gitkeep
/dual-wm-checkpoints.tar.gz
*.ckpt
.venv/
